.date-type-label {
  height: 18px;
  margin-bottom: 7.5px;
  --tw-text-opacity: 1;
  color: rgba(79, 101, 133, var(--tw-text-opacity));
  line-height: 1rem;
  font-size: 14px;
}

finra-dropdown {
  width: 100%;
}
