#config-form {
  display: inline-grid;
  grid-template-columns: 10% 60%;
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 25px;

  font-size: 16px;
  font-family: system-ui;
  font-weight: 300;

  label {
    text-align: end;
    margin-right: 20px;
  }

  textarea {
    border: 1px solid #004772;
    border-radius: 3px;
    line-height: 24px;
    padding: 5px;
    width: 100%;
  }

  button {
    color: white;
    cursor: pointer;
    background-color: #0070b7;
    border: none;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;

    &:hover {
      background-color: #004772;
    }

    &[disabled] {
      background-color: grey;
      cursor: inherit;
    }
  }
}
