<finra-tab
  label="sample tabs"
  *ngIf="sentDocuments.length + receivedDocuments.length > 0; else loading"
  [activeTab]="activeTab"
>
  <finra-tab-label slot="label" label="sent">Sent</finra-tab-label>
  <finra-tab-label *ngIf="readOnly" slot="label" label="received">Received</finra-tab-label>
  <finra-tab-content slot="content" label="sent">
    <ng-container *ngIf="sentDocuments as guidances">
      <div *ngIf="!guidances.length">No attachments are available</div>

      <div
        *ngFor="let file of guidances | slice : 0 : sentLimit; let fileIndex = index"
        class="m-2 shadow-black p-2 border border-slate-300"
      >
        <span (click)="downloadFile(file)" class="cursor-pointer ccm-file-name-link">{{ file.filename }}</span>
        <span class="float-right">
          <span class="pr-10">{{ file.fileSize | filesize }}</span>

          <span *ngIf="!readOnly" (click)="removeFile(fileIndex)" class="relative cursor-pointer">
            <finra-icon family="light" icon="Times" size="sm" class="absolute remove-file-icon"></finra-icon>
          </span>
        </span>
      </div>
      <div class="mt-5">
        <span
          *ngIf="guidances.length > 2 && sentLimit === 2"
          (click)="updateSentDocsLimit(guidances.length)"
          class="cursor-pointer ccm-file-name-link"
        >
          View all attachments <strong>({{ guidances.length - 2 }} remaining)</strong>
        </span>
        <span
          *ngIf="guidances.length > 2 && sentLimit === guidances.length"
          (click)="updateSentDocsLimit(2)"
          class="cursor-pointer ccm-file-name-link"
        >
          View less
        </span>
      </div>
      <div *ngIf="guidances.length && canDownloadAll">
        <span (click)="downloadAllAttachments(SENT)" class="cursor-pointer ccm-file-name-link">
          Download All Attachments ({{ guidances.length }})
        </span>
      </div>
    </ng-container>
  </finra-tab-content>
  <finra-tab-content slot="content" label="received">
    <ng-container *ngIf="receivedDocuments as documents; else nodata">
      <div *ngIf="!documents.length">No attachments are available</div>
      <div
        *ngFor="let file of documents | slice : 0 : receivedLimit; let fileIndex = index"
        class="m-2 shadow-black p-2 border border-slate-300"
      >
        <span (click)="downloadFile(file)" class="cursor-pointer ccm-file-name-link">{{ file.filename }}</span>
        <span class="float-right cursor-pointer">
          <span class="pr-10">{{ file.fileSize | filesize }}</span>
        </span>
      </div>
      <div class="mt-5">
        <span
          *ngIf="documents.length > 2 && receivedLimit === 2"
          (click)="updateReceivedDocsLimit(documents.length)"
          class="cursor-pointer ccm-file-name-link"
        >
          View all attachments <strong>({{ documents.length - 2 }} remaining)</strong>
        </span>
        <span
          *ngIf="documents.length > 2 && receivedLimit === documents.length"
          (click)="updateReceivedDocsLimit(2)"
          class="cursor-pointer ccm-file-name-link"
        >
          View less
        </span>
      </div>
      <div *ngIf="documents.length && canDownloadAll">
        <span (click)="downloadAllAttachments(RECEIVED)" class="cursor-pointer ccm-file-name-link">
          Download All Attachments ({{ documents.length }})
        </span>
      </div>
    </ng-container>
    <ng-template #nodata>
      <span class="text-xs">No attachments are available</span>
    </ng-template>
  </finra-tab-content>
</finra-tab>

<ng-template #loading>
  <ng-container *ngFor="let file of documents">
    <div
      class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
      *ngIf="file.uploadStatus === 'Processing' && file.loaded !== file.total"
    >
      <div
        class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500"
        [ngStyle]="{ width: ((file.loaded || 0) / (file.total || 1)) * 100 + '%' }"
      ></div>
    </div>
  </ng-container>
</ng-template>
