<ng-container *ngIf="viewModel$ | async as viewModel">
  <div class="flex flex-row h-screen p-8 firm-request-container">
    <div class="m-2 card-bg">
      <div (click)="onBack(viewModel)" class="p-5 back-button pb-2 relative">
        <finra-icon family="light" icon="ArrowLeft" size="sm" class="back-icon"></finra-icon>
        <span class="pl-8">Back to list</span>
      </div>
      <h1 class="p-5 pt-0"><strong>Managed Correspondence</strong></h1>
      <div class="">
        <ng-container #outlet [ngTemplateOutlet]="content"> </ng-container>
      </div>
    </div>
    <ng-template #content>
      <app-request-wizard
        [requestTypes]="requestTypes"
        [requests]="requests"
        (onPublish)="onPublish(viewModel)"
        (onDeleteDraft)="onDeleteDraft()"
        (onChange)="onChange()"
        [viewModel]="viewModel"
      ></app-request-wizard>
    </ng-template>

    <!-- Confirmation dialog -->
    <finra-modal
      *ngIf="showBackConfirmation"
      [flexModal]="true"
      [backDrop]="true"
      size="md"
      theme="warning"
      show-close-icon="true"
      (close)="onCancelBack()"
    >
      <div slot="title">Warning Message</div>
      <p>
        You have unused changes that will be lost if you decide to continue. Are you sure you want to leave the page?
      </p>

      <finra-button slot="commands" theme="secondary" (onclick)="onCancelBack()">Stay on this page</finra-button>
      <finra-button slot="commands" theme="primary" (onclick)="onConfirmBack()">Leave this page</finra-button>
    </finra-modal>

    <finra-modal
      *ngIf="showDeleteConfirmDialog"
      [flexModal]="true"
      [backDrop]="true"
      size="md"
      theme="info"
      show-close-icon="true"
      (close)="toggleDeleteConfrimDialog()"
    >
      <div slot="title">Delete Confirmation</div>
      <div class="modal-content">
        <div class="p-4"><label>Are you sure, you want to delete the saved draft?</label></div>
      </div>

      <div class="modal-actions">
        <finra-button (click)="toggleDeleteConfrimDialog()">Cancel</finra-button>
        <finra-button (click)="onConfirmDeleteDraft(viewModel)" class="ml-5">Yes</finra-button>
      </div>
    </finra-modal>

    <finra-modal
      *ngIf="showPublishConfirmDialog"
      [flexModal]="true"
      [backDrop]="true"
      size="md"
      theme="info"
      show-close-icon="true"
      (close)="toggleConfirmPublishSuccess()"
    >
      <div slot="title">Successfully Published</div>
      <div class="modal-content">
        <div class="p-4">
          <label>Envelope has been successfully published: {{ viewModel.requestManagerId }}.</label>
        </div>
      </div>

      <div class="modal-actions">
        <finra-button (click)="onConfirmPublishSuccess()" class="ml-5">OK</finra-button>
      </div>
    </finra-modal>
  </div>
</ng-container>

<app-alert></app-alert>
