<div class="item-container">
  <section *ngIf="showNoItemsMessage" class="no-items">There are no items.</section>
  <section *ngIf="!showNoItemsMessage" class="item-details">
    <div class="labels">
      <span class="label">Item ID</span>
      <span class="label">Item Name</span>
      <span class="label">Category</span>
      <span class="label">Assigned To</span>
      <span class="label">Due Date</span>
      <span class="label">Status</span>
    </div>

    <div class="items-container">
      <div class="items" *ngFor="let item of items">
        <span class="item entityId">{{ item.entityId }}</span>
        <span class="name">{{ item.name }}</span>
        <span class="category">{{ item.category }}</span>
        <span class="assigned_to">{{ item.assigned_to }}</span>
        <span class="due_date">{{ formatItemDate(item.due_date) }}</span>
        <span class="status">{{ item.status }}</span>
      </div>
    </div>
  </section>
</div>
