.item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.item-details {
  height: 200px;
  position: relative;

  .label {
    font-weight: 600;
    margin-bottom: 8px;
  }

  .items {
    margin-bottom: 8px;
  }

  .labels,
  .items {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 5% 20% 20% 20% 8% 6%;
  }
}
