@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../../../styles.scss';
@import 'quill/dist/quill.snow.css';

.receipient-type-label {
  height: 18px;
  margin-bottom: 7.5px;
  --tw-text-opacity: 1;
  color: rgba(79, 101, 133, var(--tw-text-opacity));
  line-height: 1rem;
  font-size: 14px;
}

#search-results {
  background: #fff;
  z-index: 1;
  max-height: 300px;
  overflow: scroll;
}

.contacts-container {
  margin: -10px;
  background-color: #fff;
  margin-bottom: 70px;
}

.plus-icon {
  position: absolute;
}

.remove-icon {
  right: 5px;
  top: 16px;
}

.create-new-contact {
  left: 20px;
}

.selected-contact {
  display: inline-block;
  font-size: small;
  padding-top: 14px;
}

.contact-link {
  font-size: 14px;
  color: #0070b7;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: underline;
}

.email-subject {
  padding-left: 10px;
  flex-grow: 1;
}

.spacer {
  margin-bottom: 20rem;
}
