<ng-container *ngIf="item$ | async as item">
  <div class="">
    <h3>{{ item.item.itemName }}</h3>
    <finra-tab label="item tabs" [activeTab]="activeStep">
      <finra-tab-label slot="label" label="action">Update</finra-tab-label>
      <finra-tab-label slot="label" label="activity">Activity</finra-tab-label>
      <finra-tab-content slot="content" label="action">
        <div class="basis-2/4 pr-2 pb-2">
          <finra-dropdown
            label="Actions to perform"
            placeholder="Select Action"
            ngDefaultControl
            (change)="onActionChange($event)"
            [selectedValue]="selectedAction"
            [selectedText]="selectedAction?.name"
          >
            <finra-dropdown-option *ngFor="let action of actions$ | async" [value]="action" slot="option">
              {{ action.name }}
            </finra-dropdown-option>
          </finra-dropdown>
        </div>
        <ng-container *ngIf="selectedAction">
          <ng-container *ngIf="selectedAction.showPanelMessage">
            <div class="pb-2">
              <finra-alert theme="info" type="toast">
                <finra-icon slot="icon" icon="InfoCircle"></finra-icon>
                <div [innerHtml]="selectedAction.panelMessage"></div>
              </finra-alert>
            </div>
          </ng-container>
          <div class="pb-1">
            <finra-datepicker
              ngDefaultControl
              [formControl]="date"
              *ngIf="selectedAction.itemType === WITH_DATE"
              label="Due Date"
              class="pr-5"
              placeholder="MM/DD/YYYY"
              [error]="(date.dirty || date.touched) && (date.invalid && date.errors?.['required'] || date.errors?.['lessThanToday']  ) && getError(date.errors)"
            >
            </finra-datepicker>
          </div>
          <div class="pb-2">
            <finra-text-area
              ngDefaultControl
              [formControl]="note"
              placeholder="Enter a comment"
              [label]="selectedAction.showPanelMessage ? selectedAction.panelHeaderMessage : 'Action for a comment'"
              aria-placeholder="Enter a comment"
              [error]="(note.dirty || note.touched) && (note.invalid && note.errors?.['required']) && 'Required'"
            >
            </finra-text-area>
          </div>
          <finra-button class="ccm-button" [disabled]="note.invalid || date.invalid || saving" (click)="update(item)"
            >Update</finra-button
          >
        </ng-container>
      </finra-tab-content>
      <finra-tab-content slot="content" label="activity">
        <app-item-actions-activities> </app-item-actions-activities>
      </finra-tab-content>
    </finra-tab>

    <finra-modal
      *ngIf="showConfirmationDialog && selectedAction"
      show-close-icon="true"
      [flexModal]="true"
      [backDrop]="true"
      size="md"
      theme="info"
      (close)="cancel()"
    >
      <span slot="title"> {{ selectedAction.modalTitle }}</span>
      {{ selectedAction.modalMessage }}
      <div slot="commands">
        <div class="modal-actions">
          <finra-button class="pr-2" theme="primary" (click)="accept(item)">{{ selectedAction.modalOK }}</finra-button>
          <finra-button theme="secondary" (click)="cancel()">Cancel</finra-button>
        </div>
      </div>
    </finra-modal>
  </div>
</ng-container>
