<ng-template #loading> Loading... </ng-template>
<ng-container *ngIf="configurationSettings$ | async as configurationSettings; else loading">
  <ng-container *ngIf="configurationSettings.currentUser?.username; else nouser">
    <ng-container *ngIf="configurationSettings.config.accessPolicyToApply.id; else noAccessPolicy">
      <ng-container *ngIf="currentView$ | async as view">
        <div *ngIf="!isCreateEnvelopeView(view)">
          <app-intro [configurationSettings]="configurationSettings" *ngIf="isIntroView(view)"></app-intro>
        </div>

        <div *ngIf="isCreateEnvelopeView(view)">
          <app-firm-request></app-firm-request>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #noAccessPolicy>
    <h2>Access Policy ID. is required for {{ configurationSettings.config.accessPolicyToApply.tag }}</h2>
  </ng-template>

  <ng-template #nouser>
    <div class="fatal-error-screen">
      <div class="body">
        <div class="header">Access Denied</div>
        <ng-container [ngSwitch]="configurationSettings.currentUser?.error?.message">
          <div class="msg" *ngSwitchCase="SentryMessage.ERR_NOGROUP">
            You have received this Access Denied message because your User ID is not entitled to access this
            application. Please request proper access or if you feel you've reached this message in error contact
            <a class="link" href="mailto:DL-CCMUserSupport@finra.org">DL-CCMUserSupport@finra.org</a>.
          </div>
          <div class="msg" *ngSwitchCase="SentryMessage.ERR_MULTIPLE_GROUPS">
            You have received this Access Denied message because your User ID is entitled to access this application in
            more than one role. Please request to associate your account with one of your entitled roles, contact
            <a class="link" href="mailto:DL-CCMUserSupport@finra.org">DL-CCMUserSupport@finra.org</a>.
          </div>
          <div class="msg" *ngSwitchCase="SentryMessage.ERR_NOAUTH">
            You have received this Access Denied message because you are not authenticated or your session is expired.
            Please contact
            <a class="link" href="mailto:DL-CCMUserSupport@finra.org">DL-CCMUserSupport@finra.org</a>.
          </div>
          <div class="msg" *ngSwitchDefault>
            <!-- should never happen-->
            Internal error
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="loading$ | async as loading">
  <div
    *ngIf="loading.show"
    style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3)"
  >
    <div style="padding-top: 20px">
      <finra-spinner [loadingText]="loading.message" is-backdrop="true"></finra-spinner>
    </div>
  </div>
</ng-container>
