@import '../../../../styles.scss';

.min-height {
  min-height: 22px;
}

.selected-border {
  border-left: 2px solid #0070b7;
}

.items-list-container {
  position: relative;
  background-color: #fff;
}

.items-list-container.notOpen {
  &:hover {
    background-color: #cce6f6;
    cursor: pointer;
  }
}

.actions {
  flex: 1;
  text-align: right;
  height: 25px;
}

.item-status {
  font-size: 1.5rem;
  color: #1c355a;
}

.status-position {
  top: -32px;
  left: 9px;
}

.status-position-draft {
  top: -22px;
}
