dist/
node_modules/
coverage/
*.html
*.css
*.scss
.eslintrc
.prettierignore
.prettierrc
package.json
package-lock.json
karma.conf.js
webpack.config.js
README.md
tailwind.config.js
build.web.components.js
generate-build-info.js
.angular
