@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../../../styles.scss';
.attachment-icon {
  display: inline;
}

.attachment-link {
  display: inline;
  font-size: 14px;
  color: #0070b7;
  text-transform: capitalize;
  cursor: pointer;
}

.remove-file-icon {
  top: -3px;
  left: -30px;
}

.file-input {
  display: none;
}
