<!-- add attachment buttons -->
<div class="inline flex justify-end" *ngIf="!isPublished">
  <label
    *ngIf="externalAttachment.show"
    class="text capitalize font-sans h-8 leading-5 text-base text-blue-70 hover:text-slate-70 attachment-link ml-5"
  >
    <finra-icon icon="Paperclip" family="light" size="xs" class="attachment-icon mr-1"></finra-icon>
    <span (click)="onAttachExternalFiles()">{{ externalAttachment.text }} Attachment</span>
  </label>
  <label
    class="text capitalize font-sans h-8 leading-5 text-base text-blue-70 hover:text-slate-70 attachment-link ml-5"
  >
    <finra-icon icon="Paperclip" family="light" size="xs" class="attachment-icon mr-1"></finra-icon>
    <input type="file" class="file-input" (change)="onAttachLocalFiles($event)" multiple />
    Local Attachment
  </label>
</div>

<!-- completed attachments -->
<div *ngFor="let file of model; let fileIndex = index" class="m-2" [hidden]="isPublished">
  <span (click)="downloadFile(file)" class="cursor-pointer ccm-file-name-link">{{ file.filename }}</span>
  <span class="float-right">
    <span class="pr-10">{{ file.fileSize | filesize }}</span>
    <span *ngIf="!isPublished" class="cursor-pointer" (click)="onRemoveFile(fileIndex)" class="relative">
      <finra-icon family="light" icon="Times" size="sm" class="absolute remove-file-icon"></finra-icon>
    </span>
  </span>
</div>

<!-- uploads in progress -->
<div *ngFor="let file of attachmentInProgress; let fileIndex = index" class="ml-10" [hidden]="isPublished">
  <span class="cursor-pointer">{{ file.filename }}</span>
  <span class="float-right cursor-pointer">
    <span class="pr-10">{{ file.fileSize | filesize }}</span>
  </span>

  <div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
    <div
      class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500"
      [ngStyle]="{ width: ((file.loaded || 0) / (file.total || 1)) * 100 + '%' }"
    ></div>
  </div>
</div>

<!-- Published envelope -->
<finra-tab label="sample tabs" *ngIf="isPublished" [activeTab]="activeTab">
  <finra-tab-label slot="label" label="sent">Sent</finra-tab-label>
  <finra-tab-content slot="content" label="sent">
    <ng-container *ngIf="model.length > 0; else nodata">
      <div *ngFor="let file of model; let fileIndex = index" class="-mr-3 -ml-3 shadow-md p-2 text-xs">
        <span (click)="downloadFile(file)" class="cursor-pointer ccm-file-name-link">{{ file.filename }}</span>
        <span class="float-right">
          <span class="pr-10">{{ file.fileSize | filesize }}</span>
          <span (click)="onRemoveFile(fileIndex)" class="relative">
            <finra-icon
              family="light"
              icon="Times"
              size="xs"
              class="cursor-pointer absolute remove-file-icon"
            ></finra-icon>
          </span>
        </span>
      </div>
    </ng-container>
  </finra-tab-content>
</finra-tab>
<ng-template #nodata>
  <span class="text-xs">No attachments are available</span>
</ng-template>
<!-- total size -->
<div *ngIf="model && model.length > 0" class="p-3">
  <span>Total ({{ model.length }})</span>
  <span class="float-right cursor-pointer">
    <span class="pr-5">{{ getAllFilesSize() | filesize }}</span>
  </span>
</div>
