<finra-modal
  *ngIf="showAddNewContactDialog"
  [flexModal]="true"
  [backDrop]="true"
  size="md"
  theme="info"
  show-close-icon="true"
  (close)="close()"
>
  <div slot="title">Add Additional Recipient (CC)</div>
  <div class="modal-content">
    <form [formGroup]="contactForm">
      <finra-input-text
        id="firstName"
        label="First Name"
        class="mb-5"
        (change)="onChange($event, FirstControl)"
        ngDefaultControl
        [FormControl]="FirstControl"
        required="true"
        (blur)="FirstControl.markAsTouched()"
        [error]="(FirstControl.dirty || FirstControl.touched) && FirstControl.invalid && 'Required'"
      >
      </finra-input-text>

      <finra-input-text
        id="lastName"
        label="Last Name"
        class="mb-5"
        (change)="onChange($event, LastControl)"
        ngDefaultControl
        [FormControl]="LastControl"
        required="true"
        (blur)="LastControl.markAsTouched()"
        [error]="(LastControl.dirty || LastControl.touched) && LastControl.invalid && 'Required'"
      ></finra-input-text>

      <finra-input-text
        id="email"
        label="Email"
        (change)="onChange($event, EmailControl)"
        ngDefaultControl
        [FormControl]="EmailControl"
        required="true"
        (blur)="EmailControl.markAsTouched()"
        [error]="(EmailControl.dirty || EmailControl.touched) && EmailControl.invalid && 'Provide valid email'"
      >
      </finra-input-text>

      <div class="modal-actions pt-5">
        <finra-button slot="commands" theme="secondary" (onclick)="close()">Cancel</finra-button>
        <finra-button
          slot="commands"
          theme="primary"
          (onclick)="addContact()"
          class="ml-5"
          [disabled]="contactForm.invalid"
          >Save</finra-button
        >
      </div>
    </form>
  </div>
</finra-modal>
