<ng-container *ngIf="loading$ | async; else data">
  <finra-spinner></finra-spinner>
</ng-container>
<ng-template #data>
  <div class="">
    <h1 class="p-2"><strong>Select Items</strong></h1>
    <finra-radio-group
      id="criteria"
      [value]="selectedCriteria"
      direction="horizontal"
      (change)="onCriteriaChange($event)"
    >
      <finra-radio name="criteria" value="recommended" slot="item">Recommended</finra-radio>
      <finra-radio name="criteria" value="all" slot="item">All</finra-radio>
    </finra-radio-group>

    <finra-search-field
      #searchInput
      id="search-input"
      tabindex="0"
      (change)="onTemplateChange($event)"
      (keyup)="search($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      (keydown)="keydownHandler($event)"
      [value]="selectedResultText"
      placeholder="Search Template"
      [showButton]="false"
      [showPrefixIcon]="true"
    >
    </finra-search-field>
    <ng-container *ngIf="searchResults$ | async as result">
      <div
        id="search-results"
        class="mb-5 py-5 px-0 w-full absolute shadow border-solid border border-slate-30 text-left text-base overflow-scroll bg-gray-10"
        *ngIf="result.length > 0 && !itemTemplate"
      >
        <div class="container">
          <div
            class="result-item leading-8 p-5 cursor-pointer hover:bg-blue-70 hover:text-gray-10"
            *ngFor="let r of result; let i = index"
            (click)="handleResultClick(r)"
          >
            <span *ngIf="r.adhocItem" class="italic">{{ r.name }} </span>
            <span *ngIf="!r.adhocItem" class="bold"
              >{{ r.name }} <span class="d2i-span" *ngIf="isD2i(r)">D2i</span>
            </span>
          </div>
        </div>
      </div>

      <app-typeahead-demo></app-typeahead-demo>
      <finra-button (onclick)="addItem()" [disabled]="!itemTemplate">Add Item</finra-button>
    </ng-container>
  </div>
</ng-template>
