<finra-modal
  [flexModal]="true"
  [backDrop]="true"
  size="md"
  theme="info"
  show-close-icon="true"
  (close)="onCloseDialog()"
>
  <div slot="title">Add Additional Contact</div>
  <div class="modal-content">
    <div class="pt-5 pr-5 pb-5 pl-5">
      <div class="relative">
        <finra-search-field
          #searchInput
          id="search-input"
          tabindex="0"
          (change)="search($event)"
          (keyup)="search($event)"
          (focus)="onFocus($event)"
          [value]="selectedResultText"
          placeholder="Search contacts"
          [showButton]="false"
          [showPrefixIcon]="true"
          class="pt-1"
          label="Contacts"
          (blur)="onInternalContactBlur()"
        >
        </finra-search-field>
        <div
          id="search-results"
          class="mb-5 px-0 w-full shadow border-solid border border-slate-30 text-left text-base overflow-scroll bg-gray-10"
          *ngIf="searchResults$ | async as searchResults"
        >
          <div *ngIf="internalContactsInFocus" class="container">
            <div
              class="result-item leading-8 p-2 cursor-pointer hover:bg-blue-70 hover:text-gray-10"
              *ngFor="let r of searchResults; let i = index"
              (click)="handleResultClick(r)"
            >
              <span class="bold">{{ r.fullName }}</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span
          class="selected-contact relative pr-10 pt-3 pl-3 pb-3"
          *ngFor="let intContact of selectedIntContacts; let i = index"
        >
          {{ intContact.fullName }}
          <finra-icon
            slot="icon"
            icon="Times"
            family="light"
            size="xs"
            class="absolute remove-icon cursor-pointer"
            (click)="onRemoveSelectedIntContact(i)"
          ></finra-icon>
        </span>
      </div>
    </div>
  </div>
  <div slot="commands">
    <div class="modal-actions">
      <finra-button slot="commands" theme="secondary" (click)="onCloseDialog()">Cancel</finra-button>
      <finra-button slot="commands" theme="primary" (click)="addSelectedContacts()" class="ml-5">Add</finra-button>
    </div>
  </div>
</finra-modal>
