/* You can add global styles to this file, and also import other style files */
:host * {
  background-color: transparent;
}

.ccm-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

ccm-outbox {
  margin: 0;
  font-family: Open Sans !important;
}

.ag-theme-alpine .ag-row-hover {
  cursor: pointer;
}

.d2i-span {
  background-color: #add8e6;
  color: #00008b;
  border-radius: 60%;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 0.9rem;
}

.partial-span {
  background-color: #949494;
  color: #ffffff;
  border-radius: 52px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  font-size: 0.9rem;
}
.gray-span {
  background-color: #949494;
  color: #ffffff;
  border-radius: 60%;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 0.9rem;
}

.blue-span {
  background-color: #3b5487;
  color: #ffffff;
  border-radius: 60%;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 0.9rem;
}

finra-button.ccm-button:focus-visible {
  outline: none;
}

.ccm-file-name-link {
  font-size: 14px;
  color: #0070b7;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: underline;
}

.accepted_stat_1x,
.accepted_stat_2x,
.accepted_stat_details_1x,
.accepted_stat_details_2x,
.acknowledged_stat_1x,
.acknowledged_stat_2x,
.acknowledged_stat_details_1x,
.acknowledged_stat_details_2x,
.calendar_left_arrow_ico_1x,
.calendar_left_arrow_ico_2x,
.calendar_right_arrow_ico_1x,
.calendar_right_arrow_ico_2x,
.chevron_down_ico_1x,
.chevron_down_ico_2x,
.chevron_left_ico_1x,
.chevron_left_ico_2x,
.chevron_right_ico_1x,
.chevron_right_ico_2x,
.chevron_up_ico_1x,
.chevron_up_ico_2x,
.clock_ico_1x,
.clock_ico_2x,
.collapse_arrow,
.collapse_default_ico_1x,
.collapse_default_ico_2x,
.dropdown_ico_1x,
.dropdown_ico_2x,
.editnot_ico_1x,
.editnot_ico_2x,
.examiner_ico_1x,
.examiner_ico_2x,
.expand_arrow,
.expand_default_ico_1x,
.expand_default_ico_2x,
.export_ico_1x,
.export_ico_2x,
.firmUser_ico_1x,
.firmUser_ico_2x,
.leftArrow_ico_1x,
.leftArrow_ico_2x,
.letterAttachment_ico_1x,
.letterAttachment_ico_2x,
.letterAttachment_ico_blue_1x,
.letterAttachment_ico_blue_2x,
.lock_black_sm_ico_1x,
.lock_black_sm_ico_2x,
.lock_ico_1x,
.lock_ico_2x,
.lock_yellow_sm_ico_1x,
.lock_yellow_sm_ico_2x,
.open_stat_1x,
.open_stat_2x,
.open_stat_details_1x,
.open_stat_details_2x,
.overdue_stat_1x,
.overdue_stat_2x,
.overdue_stat_details_1x,
.overdue_stat_details_2x,
.rightArrow_ico_1x,
.rightArrow_ico_2x,
.stop_error_white_ico_1x,
.submitted_stat_1x,
.submitted_stat_2x,
.submitted_stat_details_1x,
.submitted_stat_details_2x,
.withdrawn_stat_1x,
.withdrawn_stat_2x,
.withdrawn_stat_details_1x,
.withdrawn_stat_details_2x,
.x_attachment_black_ico_1x,
.x_attachment_black_ico_2x,
.x_attachment_grey_ico_1x,
.x_attachment_grey_ico_2x,
.x_black_ico_1x,
.x_black_ico_2x,
.x_circle_ico_1x,
.x_circle_ico_2x,
.x_white_circle_ico_1x,
.x_white_error_ico_1x,
.x_white_ico_2x,
.x_white_ico_lg {
  display: block;
  text-indent: -100000px;
  background: url(assets/sprites.2.png) no-repeat;
}

.examiner_ico_1x {
  background-position: 0 -440px;
  width: 30px;
  height: 30px;
  display: inline-block;
}
