<ng-container *ngIf="viewModel as view">
  <div id="container" class="request-wizard">
    <section class="block actions-container">
      <ul class="flex flex-row-reverse">
        <li class="mr-10 pl-10">
          <finra-button
            *ngIf="!view.isPublished"
            theme="tertiary"
            class="relative"
            (click)="publish()"
            [disabled]="!isReadyToPublish(view)"
          >
            <finra-icon family="light" icon="Upload" size="sm" class="absolute button-icon"></finra-icon>
            Publish
          </finra-button>
          <finra-button
            *ngIf="view.isPublished && !view.transferInProgress"
            theme="tertiary"
            class="relative"
            (click)="publishChanges()"
            [disabled]="!isReadyToPublish(view)"
          >
            <finra-icon family="light" icon="Upload" size="sm" class="absolute button-icon"></finra-icon>
            Publish Changes
          </finra-button>
          <finra-button
            *ngIf="view.transferInProgress"
            theme="tertiary"
            class="relative"
            (click)="transfer()"
            [disabled]="!isReadyToPublish(view)"
          >
            <finra-icon family="light" icon="Upload" size="sm" class="absolute button-icon"></finra-icon>
            Publish Changes
          </finra-button>
        </li>
        <li class="mr-10 pl-10" [hidden]="view.isPublished">
          <finra-button
            theme="tertiary"
            class="relative"
            (click)="saveDraft()"
            [disabled]="!view.contactsViewModel.changed && !view.itemsViewModel.changed"
          >
            <finra-icon family="light" icon="Save" size="sm" class="absolute button-icon"></finra-icon>
            Save Draft
          </finra-button>
        </li>
        <li class="mr-10 pl-10" [hidden]="view.contactsViewModel.isNew || view.isPublished">
          <finra-button theme="tertiary" class="relative" (click)="deleteDraft()">
            <finra-icon family="light" icon="Trash" size="sm" class="absolute button-icon"></finra-icon>
            Delete Draft
          </finra-button>
        </li>
      </ul>
    </section>
    <finra-tab label="sample tabs" [activeTab]="activeStep">
      <finra-tab-label slot="label" label="contacts">Information & Contacts</finra-tab-label>
      <finra-tab-label slot="label" label="items">Items</finra-tab-label>
      <finra-tab-content slot="content" label="contacts">
        <app-contacts #appContacts></app-contacts>
      </finra-tab-content>
      <finra-tab-content slot="content" label="items">
        <app-items-in-request #appItemsInRequest [viewModel]="view"></app-items-in-request>
      </finra-tab-content>
    </finra-tab>
  </div>
</ng-container>
<alf-wc-file-selection></alf-wc-file-selection>
